<!DOCTYPE html>
<html style="overflow-x: hidden !important;overflow-y:hidden !important;height: 100% !important;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lex</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Navigation-with-Search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/primary.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/stacks.css') }}">
</head>

<body style="height: 100% !important;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-top:20px;width: 100%;position: fixed;background-color: rgb(255,255,255);opacity: 1;z-index: 10;">
        <div class="container">
            <div style="width: auto;display: flex;cursor: pointer;"><i class="fa fa-cubes" style="font-size: 26px;margin-left: 1%;margin-right: 0.5%;display: flex;"></i><a class="navbar-brand" href="#" style="font-family: Lato, sans-serif;display: flex;">Lex</a></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto"></ul>
            </div>

            <p onclick="loginSubmit();" id="yeet-9" style="height: 23px;border: 1px solid black;padding-left: 5px;padding-right: 5px;padding-top: 4px;padding-bottom: 2px;font-family: Lato, sans-serif;background-color: #03a87c;color: white;border: 1px solid #03a87c;border-radius: 5px 5px 5px 5px;font-size: 13px;cursor: pointer;position: relative;flex: 0 0 auto;margin: 0 auto;">Login</p>
        </div>
    </nav>
    <div class="container" style="min-height: 100%;width: 100%;">
        <div class="row" style="min-height: 100%;margin-left: 4%;">
            <div class="col-12" style="height: 100%;padding-right: 0px !important;padding-left: 10% !important;margin-top: 100px;">
                <div style="height: 130px;"></div>

                <h1 style="font-weight:700;font-family: Lato, sans-serif;margin-bottom:40px;font-size:40px">Login</h1>

                <form method="post" id="form-submit">
                    <div>
                        <p style="margin: 0;font-family: Lato, sans-serif;"><strong>Email</strong></p><input name="email" type="email" style="height: 20px;border-top: none;border-left: none;border-right: none;padding: 0;padding-bottom: 2px;padding-left: 1px;margin-top: 5px;font-size: 12px;width: 200px;"></div>
                    <div>
                        <p id="password" style="margin: 0;margin-top: 40px;font-family: Lato, sans-serif;"><strong>Password</strong></p><input onkeypress="enterCheck(event)" name="password" type="password" style="height: 20px;border-top: none;border-left: none;border-right: none;padding: 0;padding-bottom: 2px;padding-left: 1px;margin-top: 5px;font-size: 12px;width: 200px;"></div>

                    <p style="margin: 0;margin-top: 30px;font-family: Lato, sans-serif;font-size: 10px;color:red;margin-bottom:10px">{{msg}}</p>
                    <p
                        style="margin-top: 0px;font-family: Lato, sans-serif;font-size: 10px;">Don't have an account? Create one <a style="color:black" href="{{ url_for('create') }}"><strong>here</strong></a>.</p>
                </form>
                
            </div>
        </div>
    </div>

    <script>
        function loginSubmit(){
            document.getElementById('form-submit').submit();
        }

        function enterCheck(event){
            if (event.keyCode == 13){
                loginSubmit();
            }
        }
    </script>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/mrkdwn.js') }}"></script>
</body>

</html>